

.btn {
	min-width: rem(160);
	background-color: $color-primary;
	color: $color-secondary;
	border: 0;
	margin: rem(10);
	padding: rem(16) rem(24);
	font-family: $font-primary;
	font-size: rem(12);
	font-weight: $font-bold;
	text-transform: uppercase;
	cursor: pointer;
	&--third {
		background-color: $color-secondary;
		color: $color-primary;
	}
}
