.section-header-wrapper {


}
.section-header {
	color: $color-primary;
	border: 1px solid $color-primary;
	text-align: center;
	margin: rem(50) 0;
	padding: rem(35) 0;
	font-size: rem(35);
	font-family: $font-primary;
	font-weight: $font-strong;
}