.left {
	float: left;
}
.right {
	float: right;
}
.center {
	margin: 0 auto;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}
.hide {
	display: none;
}