

$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'PT Serif', serif;
$font-light: 300;
$font-regular: 400;
$font-strong: 600;
$font-bold: 700;
$color-text: #b2b1af;
$color-primary: #97735d;
$color-secondary: white;