.about-icons	{
	margin: rem(45) 0;
	display: flex;
	justify-content: space-around;
	@media (min-width: 992px) {
		margin: rem(25) 0 rem(10) 0;

	}
}

.wrapper-icon {
	text-align: center;
	min-width: 90px;
	background: white;
	position: relative;
	&:after {
		content: '';
		width: 20vw;
		border-bottom: 1px solid $color-primary;
		position: absolute;
		left: 90%;
		top: 30%;
		@media(min-width: 992px) {
			width: 5vw;
			left: 80%;

		}
	}
	&:last-child:after {
		// border: 0;
		height: 100px;
		display: none;
		border-bottom: 11px solid $color-primary;
	}
	.about-icons__icon {
		object-fit: fill;
		// background: red;
		height: 65px;
		width: 65px;
	}
	.about-icons__header {
		font-size: rem(10);
		color: $color-text-header;
	}
}

