.btn--blog {
	padding: rem(7) rem(15);
	min-width: rem(108);
	font-size: rem(10);
}
.wrapper-thumbnail__description--blog {
		border: 15px solid rgba(248, 213, 190, 0);
	}
.btn--blog {
	// text-align: right;
	// align-self: center;
	float: right;
}
@media (min-width: 951px) {
	.wrapper-thumbnail__description--blog {
		display: inline-block;
		.gallery__thumbnail__description--blog {
			display: inline-block;
			.gallery__thumbnail__header--blog {
				display: inline-block;
			}
			.gallery__thumbnail__text--blog {
				display: inline-block;
			}
			.btn--blog {
				display: inline;
			}
		}
	}
	.gallery__thumbnail:hover {
		.gallery__thumbnail {
			height: auto;
		}
		.wrapper-thumbnail__description--blog	{
			height: auto;
		}
		.gallery__thumbnail__description--blog {
			display: inline-block;
		}
		.gallery__thumbnail__header--blog {
			margin: rem(10) 0 0 rem(5) ;
		}
		.gallery__thumbnail__text--blog	 {
			margin: rem(5) 0 rem(5) rem(5);
		}
	}
}

