.clients {
	overflow: hidden;
	 padding: 0px;
	
}
.slider2 {
	overflow: hidden;

	// height: 100%;
	// width: 1100px;
	display: flex;
	// justify-content: center;
	// background-color: blue;
	// padding: 5px;
	// margin: 20px;
	img {
	  object-fit: none;
	}
}

.slide2 {
	height: 140px;
	width: 1200px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	transform: translateX(-1200px);
	background-color: pink;
}

.clients-logos__logo {
	width: 100%;
	height: 100%;
	align-self: center;
}
.clients-arrows {
	display: flex;
	justify-content: center;
	// background-color: pink;
}
.prev-arrow-brown,
.next-arrow-brown {
 cursor: pointer;
 margin: rem(25);
}


.logo-bg1 {
	background: url(/img/clients_01.png) no-repeat;
}
.logo-bg2 {
	background: url(/img/clients_02.png) no-repeat;
}
.logo-bg3 {
	background: url(/img/clients_03.png) no-repeat;
}
.logo-bg4 {
	background: url(/img/clients_04.png) no-repeat;
}
