.gallery__thumbnail__text--modifier {
	color: white;
	background-color: pink;
	display: inline;
	border-top: 2px solid white;
}
// .gallery__thumbnail:hover {
// 	.gallery__thumbnail__text--modifier {
// 		color: white;
// 		background-color: pink;
// 		display: inline;
// 		border-top: 2px solid white;
// 	}
// }