.welcome {
	position: relative;
	max-width: none;
	height: 100vh;
	background: pink;
	padding: 0;
	// overflow: hidden;

	// padding-top: 70px;
}

// NAV TO NAVIGATION LATER

.navigation	{
	position: fixed;
	// padding-top: 55px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__logo-wrapper	{
		width: 70px;
		.logo	{
			display: block;
			background: url(/img/logo.svg) no-repeat;
			text-indent: -999px;
		}
	}
	&__menu-icon-wrapper {
		// display: inline;
	}
}

.slider {
	// overflow: hidden;
	// display: flex;
	width: 300vw;
	position: relative;
}
.slide {
	position: absolute;
	right: 100vw;
	background: url(/img/welcome-bg_01.jpg) 20% center no-repeat;
	background-size: cover;
	// padding-left: 150px;
	// padding-right: 150px;
	height: 100vh;
	width: 100vw;
	display: flex;

}


.welcome-wrapper {
	margin: 0 auto;
	// height: 80%;
	// background-color: red;
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: rem(1100);
}

.slider-left-arrow {
	margin-left: rem(50);
	@media(min-width: 1200px) {
		margin-left: rem(100);
	}
}
.slider-right-arrow {
	margin-right: rem(50);
	@media(min-width: 1200px) {
		margin-right: rem(100);
	}
}
.slider-left-arrow,
.slider-right-arrow	{
	// background: url(/img/leftsliderarrow.svg) no-repeat;
	// background-color: green;
	height: rem(17);
	align-self: center;
	cursor: pointer;
	// height: 100%;
	// width: 100%;
}

.welcome-header-wrapper	{
	// background-color: blue;
	text-align: center;
}
.welcome-header	{
	font-family: $font-primary;
	font-weight: $font-regular;
	color: white;
	font-size: 2.4rem;
	margin-bottom: 80px;
	line-height: 70%;
	.welcome-header--bold	{
		font-weight: $font-bold;
		font-size: 1.7rem;
	}
}