@import "settings";

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

//====================================


body {
	h1	{
		color: $color-text;
		display: flex;
		// font-size: rem(24);
		// @include fluid-type($min_width, $max_width, $min_font, $max_font);
	}
	h2	{
		color: $color-text;
		display: flex;
		// font-size: 24px;
	}
}


.navigation	{
	height: 50px;
	background-color: green;
}

.navigation-logo	{
	width: 250px;
	background-color: black;
	float: left;

}
nav {
	float: right;
	overflow: hidden;
}
nav ul {
	background-color: black;
	list-style: none;
	display: inline-block;
	width: 350px;
	li {
		text-decoration: none;
	}
}