@import "settings";

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

//====================================


body {
	h1	{
		color: $color-text;
		display: flex;
		// font-size: rem(24);
		// @include fluid-type($min_width, $max_width, $min_font, $max_font);
	}
	h2	{
		color: $color-text;
		display: flex;
		// font-size: 24px;
	}
}
