@import "settings";
@import "nav";

html {
	@include fluid-type($min_width, $max_width, $min_font, $max_font);
}

//====================================


body, html {
	// overflow: hidden;
	// position: absolute;
	// width: 100%;
	// left: 0px;
}



.site-container	{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: cyan;
}

.welcome	{
	height: 100vh;
	background: url(/img/welcome-bg_01.jpg) 20% center no-repeat;
	background-size: cover;
}

.logo-wraper	{
	.logo	{
		display: block;
		background: url(/img/logo.svg) no-repeat;
		text-indent: -999px;
	}
}